#canvas {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

#picker {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

html {
  overflow: hidden;
}

#canvas {
  opacity: 0.25;
  width: 100%;
  height: 100%;
}