#canvas {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

#picker {
  position: absolute;
  right: 25px;
  bottom: 25px;
  opacity: .2;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#picker:hover {
  position: absolute;
  right: 25px;
  bottom: 25px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

html {
  overflow: hidden;
}

#canvas {
  width: 320px;
  height: 180px;
  margin: 25px;
  border-radius: 10px;
  opacity: 60%;
}

#qr {
  opacity: 0.05;
  border-radius: 5px;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#qr:hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  border-radius: 5px;
}

#bottom_button_1 #bottom_button_2 {
  background-color: #00b3fe;
  border: 0px solid #defe47;
}
/* 
#bottom_button_1:hover #bottom_button_1:active #bottom_button_2:hover #bottom_button_2:active {
  background-color: #00b3fe !important;
  border: 30px solid #defe47;
} */
